.items-list {
    .item {
        width: 48%;
        height: 120px;
        background-color: white;
        border: #282c34 solid 2px;
        margin-right: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        .title {
            font-weight: bold;
            width: 100%;
            text-align: center;
            background-color: yellowgreen;
            height: 50px;
            text-align: left;
            justify-content: space-between;
        }
    }
}
