* {
    margin: 0;
    padding: 0;
}

.App {
    background-color: rgb(129, 129, 129);
    width: 100%;

    .main-container {
        // background-color: lightblue;
        width: 100%;
        padding: 15px;
    }
}

// HELPERS
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.col {
    flex-direction: column;
}
